.container{
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 22px;
    height: 300px;
    width: 300px;
    padding:20px;
}

.title_row{
    display:flex;
    justify-content: space-between;
}

.text_content{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical
}