.title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
}

.list:hover {
  overflow: overlay;
}
.list {
  display: flex;
  width: 100vw - 25px;
  overflow-x: hidden;
  /* For scrollbar */
  padding-bottom: 30px;
}

.tv_show_item {
  margin-right: 20px;
}